<h1>{{name}},{{age}}</h1>
  {{address.street}}<br>
  {{address.area}}

  <form>
  	<label>Name: </label><br/>
  	<input type="text" name="name" [(ngModel)]="name"/>
  </form>	
  	<button (click)="toggleHobbies()">Show Hobbies</button>
  	<hr>
  	<div *ngIf="showHobbies">
  		<h3> Hobbies </h3>
  		<ul>
  			<li *ngFor="let hobby of hobbies;let i = index">
  				{{hobby}} <button (click)="deleteHobby(i)">X</button>
  			</li>
  		</ul>
  	</div>

  	<hr>
  	<ul>
  		<li *ngFor="let post of posts">
  			{{post.title}}
  		</li>
  	</ul>
